{% extends "layout.html" %}
{% block title %}Charity action{% endblock %}
{% block content %}
    <style type="text/css">

		@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

		.wrapper {
		  width: 400px;
		  border-radius: 8px;
		  padding: 30px;
		  text-align: center;
		  border: 1px solid rgba(255, 255, 255, 0.5);
		  backdrop-filter: blur(9px);
		  -webkit-backdrop-filter: blur(9px);
		}

form {
		  display: flex;
		  flex-direction: column;
            align-content: center;
		}

	</style>
    <div class="wrapper">
<form action="{{ url_for('auth.login') }}" method="post">
<div class="mb-3"><label for="username" class="form-label">Username</label>
<input type="text" class="form-control form-control-sm" id="username" name="username" placeholder="non d'utilisateur" required >
</div>
<div class="mb-3"><label for="password" class="form-label">Password</label>
<input type="password" class="form-control form-control-sm" id="password" name="password" placeholder="mots de passe" required>
</div>
<button type="submit" class="btn btn-info">Login</button>
</form>

      </div>
{% endblock %}